@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Moon+Dance:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-search:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e902";
}

._icon-phone:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0rem 1.25rem;
  border: 0.0625rem solid #eee;
  min-height: 3.125rem;
  color: #6ED14A;
  outline: 0.0313rem solid rgba(0, 0, 0, 0.5137254902);
}

textarea.input {
  resize: none;
  padding: 0rem 0rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 0.625rem;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 1.25rem;
  width: 100%;
  max-width: 56.25rem;
  border-radius: 1.25rem;
}

.lock .popup__content {
  visibility: visible;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header._header-scroll {
  top: -100%;
}

.menu__search.color-search::before {
  color: #000;
}

.header__container.salad-menu {
  max-width: 1232px;
}

.popup__content {
  padding: 3.125rem 1.25rem 1.25rem;
}

.popup__close {
  display: -ms-inline-grid;
  display: inline-grid;
  position: absolute;
  top: 0.3125rem;
  right: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.0625rem;
  top: calc(50% - 0.0625rem);
  right: 0;
  background: #000;
}

.popup__close::before {
  content: "";
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.action__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}

.action__line {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.action__line._form-error input {
  border: 0.125rem solid red;
  outline: none;
}

.action ._icon-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.2;
}

.title span {
  color: #59CA31;
}

.text {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 40.25rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.7;
  color: #FFFFFF;
  padding: 1.125rem 1.875rem;
  background: #000000;
  border-radius: 0.9375rem;
}

.title-small {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.18;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.menu__item {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item:hover {
  color: #6ED14A;
}

.menu .menu-link-active {
  color: #6ED14A;
}

.menu__search {
  position: relative;
  z-index: 2;
  padding-right: 0.3125rem;
}

.menu__search::before {
  font-size: 1.5869rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}

.menu__search:hover::before {
  font-size: 1.875rem;
}

.icon-menu {
  display: none;
}

.home__container,
.takeaway__container,
.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.1875rem;
  position: relative;
}

.home__body,
.takeaway__body,
.contacts__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55.308943%;
          flex: 0 0 55.308943%;
  /* 668/1230 */
}

.home__items,
.takeaway__items,
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home__items ._icon-phone,
.takeaway__items ._icon-phone,
.contacts__items ._icon-phone {
  position: relative;
  padding-left: 1.5em;
}

.home__items ._icon-phone::before,
.takeaway__items ._icon-phone::before,
.contacts__items ._icon-phone::before {
  font-size: 0.875em;
  position: absolute;
  left: 0;
}

.home__items ._icon-mail,
.takeaway__items ._icon-mail,
.contacts__items ._icon-mail {
  position: relative;
  padding-left: 1.5em;
}

.home__items ._icon-mail::before,
.takeaway__items ._icon-mail::before,
.contacts__items ._icon-mail::before {
  font-size: 0.7125em;
  position: absolute;
  left: 0;
}

.home__items ._icon-cart,
.takeaway__items ._icon-cart,
.contacts__items ._icon-cart {
  position: relative;
  padding-left: 1.5em;
}

.home__items ._icon-cart::before,
.takeaway__items ._icon-cart::before,
.contacts__items ._icon-cart::before {
  font-size: 0.8888333333em;
  position: absolute;
  left: 0;
}

.home__item,
.takeaway__item,
.contacts__item {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.21;
  color: #59CA31;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__title:not(:last-child),
.takeaway__title:not(:last-child),
.contacts__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.home__action,
.takeaway__action,
.contacts__action {
  min-width: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__button:not(:last-child),
.takeaway__button:not(:last-child),
.contacts__button:not(:last-child) {
  margin-bottom: 0.5rem;
}

.home__title-small,
.takeaway__title-small,
.contacts__title-small {
  text-align: center;
}

.home__image,
.takeaway__image,
.contacts__image {
  margin: 0 -0.9375rem;
}

.home__image img,
.takeaway__image img,
.contacts__image img {
  max-width: 100%;
}

.contacts__title.title {
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__button.button {
  padding: 0.5rem 3.125rem;
}

.menu-section__main-block {
  padding: 0.9375rem 0 3.75rem 0;
  position: relative;
  max-width: 94.5rem;
  margin: 0 auto;
}

.no-webp .menu-section__main-block::after{
  background: url("../img/main-image.png") center 0/cover no-repeat; }

.menu-section__main-block::after {
  content: "";
  display: block;
  padding: 0 3.125rem;
  width: 100%;
  height: 100%;
  opacity: 0.04;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.menu-section__container {
  max-width: 77rem;
  position: relative;
  z-index: 1;
}

.menu-section__body {
  font-family: "Moon Dance";
}

.menu-section__title {
  font-size: 8rem;
  line-height: 1;
  color: #59CA31;
  text-align: center;
}

.menu-content {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.menu-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  padding-top: 1.875rem;
}

.menu-content__item--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.menu-content__image-ibg {
  -webkit-transform: translate(0rem, -1.875rem);
      -ms-transform: translate(0rem, -1.875rem);
          transform: translate(0rem, -1.875rem);
  padding-bottom: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  border-radius: 0.625rem;
  overflow: hidden;
}

.menu-content__image-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.img-scale .menu-content__image-ibg img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-content__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.menu-content__name {
  font-size: 4rem;
  line-height: 0.8;
  color: #59CA31;
}

.menu-content__value {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #000000;
  padding-left: 0.5rem;
  max-width: 16.9375rem;
}

.menu-footer {
  text-align: center;
}

.menu-footer__title-hour {
  font-size: 4rem;
  line-height: 1.34;
}

.menu-footer__title-hour:not(:last-child) {
  margin-bottom: 1.25rem;
}

.menu-footer__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.2;
}

.menu-footer__subtitle:not(:last-child) {
  margin-bottom: 0.375rem;
}

.menu-footer__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 0.9375rem;
  margin: 0 auto;
  line-height: 1.2;
  max-width: 50.875rem;
}

@media (min-width: 47.99875em) {
  .home__image,
  .takeaway__image,
  .contacts__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.544715%;
            flex: 0 0 41.544715%;
    /* 511/1230 */
    max-width: 31.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }

  .home__image img,
  .takeaway__image img,
  .contacts__image img {
    width: 128%;
  }
}

@media (min-width: 61.99875em) {
  .menu-content__item--right:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}

@media (min-width: 76.875em) {
  .menu {
    min-height: 6.25rem;
  }

  .home__body,
  .takeaway__body,
  .contacts__body {
    padding-top: 13.5625rem;
  }

  .home__text:not(:last-child),
  .takeaway__text:not(:last-child),
  .contacts__text:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}

@media (min-width: 85.75em) {
  .menu {
    -webkit-column-gap: 11.25rem;
       -moz-column-gap: 11.25rem;
            column-gap: 11.25rem;
  }

  .menu__list {
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
  }
}

@media (min-width: 87.625em) {
  .action ._icon-search::before {
    font-size: 3.125rem;
  }

  .title {
    font-size: 3.75rem;
  }

  .text {
    font-size: 1.5rem;
  }

  .button {
    font-size: 2.25rem;
  }

  .home__items:not(:last-child),
  .takeaway__items:not(:last-child),
  .contacts__items:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .home__item,
  .takeaway__item,
  .contacts__item {
    font-size: 2rem;
  }

  .menu-section__title {
    font-size: 8rem;
  }

  .menu-content__name {
    font-size: 4rem;
  }

  .menu-content__value {
    font-size: 1.5rem;
  }

  .menu-footer__title-hour {
    font-size: 4rem;
  }

  .menu-footer__subtitle {
    font-size: 1.5rem;
  }

  .menu-footer__text {
    font-size: 0.9375rem;
  }
}

@media (min-width: 62em) {
  .salad-menu .menu__list {
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
  }
}

@media (min-width: 77em) {
  .menu-section {
    padding-top: 8.875rem;
  }

  .menu-section__title:not(:last-child) {
    margin-bottom: 4.125rem;
  }
}

@media (max-width: 62em) {
  .menu-section__title:not(:last-child) {
    margin-bottom: 0.0000000625rem;
  }
}

@media (max-width: 48em) {
  .menu {
    min-height: 4.375rem;
  }

  .menu {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .salad-menu .menu__list {
    -webkit-column-gap: 2.1875rem;
       -moz-column-gap: 2.1875rem;
            column-gap: 2.1875rem;
  }

  .home__body,
  .takeaway__body,
  .contacts__body {
    padding-top: 5.625rem;
  }

  .home__text:not(:last-child),
  .takeaway__text:not(:last-child),
  .contacts__text:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .menu-section {
    padding-top: 5rem;
  }
}

@media (max-width: 20em) {
  .action ._icon-search::before {
    font-size: 2.5rem;
  }

  .title {
    font-size: 1.875rem;
  }

  .text {
    font-size: 1rem;
  }

  .button {
    font-size: 1.25rem;
  }

  .home__items:not(:last-child),
  .takeaway__items:not(:last-child),
  .contacts__items:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .home__item,
  .takeaway__item,
  .contacts__item {
    font-size: 1.25rem;
  }

  .menu-section__title {
    font-size: 3.125rem;
  }

  .menu-content__name {
    font-size: 1.875rem;
  }

  .menu-content__value {
    font-size: 1rem;
  }

  .menu-footer__title-hour {
    font-size: 1.875rem;
  }

  .menu-footer__subtitle {
    font-size: 1rem;
  }

  .menu-footer__text {
    font-size: 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .salad-menu .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu-content__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }

  .menu-content__item:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .menu-content__image-ibg {
    -webkit-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }

  .menu-content__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media (max-width: 47.99875em) {
  .action__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .action ._icon-search {
    height: 3.125rem;
    background-color: #d4d3d3;
    -webkit-box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
  }

  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(241, 236, 236);
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    background: rgb(241, 236, 236);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    bottom: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .menu__search::before {
    color: #000;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .home,
  .takeaway,
  .contacts {
    padding-top: 4.375rem;
    padding-bottom: 3.125rem;
  }

  .home__container,
  .takeaway__container,
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home__body,
  .takeaway__body,
  .contacts__body {
    padding-top: 0;
    display: -ms-grid;
    display: grid;
  }

  .home__text:not(:last-child),
  .takeaway__text:not(:last-child),
  .contacts__text:not(:last-child) {
    text-align: justify;
  }

  .menu-content__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu-content__item--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .menu-content__image-ibg {
    padding-bottom: 60%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }

  .menu-content__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .menu-content__value {
    padding-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    min-height: 4.375rem;
  }

  .menu__list {
    font-size: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 87.625em) {
@supports (font-size: clamp( 2.5rem , 2.3151571165rem  +  0.9242144177vw , 3.125rem )) {
    .action ._icon-search::before {
      font-size: clamp( 2.5rem , 2.3151571165rem  +  0.9242144177vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 2.3151571165rem  +  0.9242144177vw , 3.125rem )) {
    .action ._icon-search::before {
      font-size: calc(2.5rem + 0.625 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.3204713494rem  +  2.7726432532vw , 3.75rem )) {
    .title {
      font-size: clamp( 1.875rem , 1.3204713494rem  +  2.7726432532vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3204713494rem  +  2.7726432532vw , 3.75rem )) {
    .title {
      font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem )) {
    .text {
      font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem )) {
    .text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.9542513863rem  +  1.4787430684vw , 2.25rem )) {
    .button {
      font-size: clamp( 1.25rem , 0.9542513863rem  +  1.4787430684vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.9542513863rem  +  1.4787430684vw , 2.25rem )) {
    .button {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 67.625);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.3204713494rem  +  2.7726432532vw , 3.75rem )) {
    .home__items:not(:last-child),
    .takeaway__items:not(:last-child),
    .contacts__items:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 1.3204713494rem  +  2.7726432532vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.3204713494rem  +  2.7726432532vw , 3.75rem )) {
    .home__items:not(:last-child),
    .takeaway__items:not(:last-child),
    .contacts__items:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0281885397rem  +  1.1090573013vw , 2rem )) {
    .home__item,
    .takeaway__item,
    .contacts__item {
      font-size: clamp( 1.25rem , 1.0281885397rem  +  1.1090573013vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0281885397rem  +  1.1090573013vw , 2rem )) {
    .home__item,
    .takeaway__item,
    .contacts__item {
      font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 3.125rem , 1.6832255083rem  +  7.2088724584vw , 8rem )) {
    .menu-section__title {
      font-size: clamp( 3.125rem , 1.6832255083rem  +  7.2088724584vw , 8rem );
    }
}

@supports not (font-size: clamp( 3.125rem , 1.6832255083rem  +  7.2088724584vw , 8rem )) {
    .menu-section__title {
      font-size: calc(3.125rem + 4.875 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2465341959rem  +  3.1423290203vw , 4rem )) {
    .menu-content__name {
      font-size: clamp( 1.875rem , 1.2465341959rem  +  3.1423290203vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2465341959rem  +  3.1423290203vw , 4rem )) {
    .menu-content__name {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem )) {
    .menu-content__value {
      font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem )) {
    .menu-content__value {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2465341959rem  +  3.1423290203vw , 4rem )) {
    .menu-footer__title-hour {
      font-size: clamp( 1.875rem , 1.2465341959rem  +  3.1423290203vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2465341959rem  +  3.1423290203vw , 4rem )) {
    .menu-footer__title-hour {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem )) {
    .menu-footer__subtitle {
      font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8521256932rem  +  0.7393715342vw , 1.5rem )) {
    .menu-footer__subtitle {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 67.625);
    }
}

@supports (font-size: clamp( 0.625rem , 0.5325785582rem  +  0.4621072089vw , 0.9375rem )) {
    .menu-footer__text {
      font-size: clamp( 0.625rem , 0.5325785582rem  +  0.4621072089vw , 0.9375rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.5325785582rem  +  0.4621072089vw , 0.9375rem )) {
    .menu-footer__text {
      font-size: calc(0.625rem + 0.3125 * (100vw - 20rem) / 67.625);
    }
}
}

@media (min-width: 48em) and (max-width: 76.875em) {
@supports (min-height: clamp( 4.375rem , 1.2581168831rem  +  6.4935064935vw , 6.25rem )) {
    .menu {
      min-height: clamp( 4.375rem , 1.2581168831rem  +  6.4935064935vw , 6.25rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 1.2581168831rem  +  6.4935064935vw , 6.25rem )) {
    .menu {
      min-height: calc(4.375rem + 1.875 * (100vw - 48rem) / 28.875);
    }
}

@supports (padding-top: clamp( 5.625rem , -7.5698051948rem  +  27.4891774892vw , 13.5625rem )) {
    .home__body,
    .takeaway__body,
    .contacts__body {
      padding-top: clamp( 5.625rem , -7.5698051948rem  +  27.4891774892vw , 13.5625rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , -7.5698051948rem  +  27.4891774892vw , 13.5625rem )) {
    .home__body,
    .takeaway__body,
    .contacts__body {
      padding-top: calc(5.625rem + 7.9375 * (100vw - 48rem) / 28.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , -6.2297077922rem  +  16.2337662338vw , 6.25rem )) {
    .home__text:not(:last-child),
    .takeaway__text:not(:last-child),
    .contacts__text:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , -6.2297077922rem  +  16.2337662338vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , -6.2297077922rem  +  16.2337662338vw , 6.25rem )) {
    .home__text:not(:last-child),
    .takeaway__text:not(:last-child),
    .contacts__text:not(:last-child) {
      margin-bottom: calc(1.5625rem + 4.6875 * (100vw - 48rem) / 28.875);
    }
}
}

@media (min-width: 48em) and (max-width: 85.75em) {
@supports ((-moz-column-gap: clamp( 3.125rem , -7.2061258278rem  +  21.5231788079vw , 11.25rem )) or (column-gap: clamp( 3.125rem , -7.2061258278rem  +  21.5231788079vw , 11.25rem ))) {
    .menu {
      -webkit-column-gap: clamp( 3.125rem , -7.2061258278rem  +  21.5231788079vw , 11.25rem );
         -moz-column-gap: clamp( 3.125rem , -7.2061258278rem  +  21.5231788079vw , 11.25rem );
              column-gap: clamp( 3.125rem , -7.2061258278rem  +  21.5231788079vw , 11.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , -7.2061258278rem  +  21.5231788079vw , 11.25rem )) or (column-gap: clamp( 3.125rem , -7.2061258278rem  +  21.5231788079vw , 11.25rem ))) {
    .menu {
      -webkit-column-gap: calc(3.125rem + 8.125 * (100vw - 48rem) / 37.75);
         -moz-column-gap: calc(3.125rem + 8.125 * (100vw - 48rem) / 37.75);
              column-gap: calc(3.125rem + 8.125 * (100vw - 48rem) / 37.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -7.4068708609rem  +  17.3841059603vw , 7.5rem )) or (column-gap: clamp( 0.9375rem , -7.4068708609rem  +  17.3841059603vw , 7.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -7.4068708609rem  +  17.3841059603vw , 7.5rem );
         -moz-column-gap: clamp( 0.9375rem , -7.4068708609rem  +  17.3841059603vw , 7.5rem );
              column-gap: clamp( 0.9375rem , -7.4068708609rem  +  17.3841059603vw , 7.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -7.4068708609rem  +  17.3841059603vw , 7.5rem )) or (column-gap: clamp( 0.9375rem , -7.4068708609rem  +  17.3841059603vw , 7.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 6.5625 * (100vw - 48rem) / 37.75);
         -moz-column-gap: calc(0.9375rem + 6.5625 * (100vw - 48rem) / 37.75);
              column-gap: calc(0.9375rem + 6.5625 * (100vw - 48rem) / 37.75);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 87.625em) {
  .menu__body::before {
    min-height: 6.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 87.625em) {
@supports (min-height: clamp( 4.375rem , 3.7095656192rem  +  3.3271719039vw , 6.625rem )) {
    .menu__body::before {
      min-height: clamp( 4.375rem , 3.7095656192rem  +  3.3271719039vw , 6.625rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.7095656192rem  +  3.3271719039vw , 6.625rem )) {
    .menu__body::before {
      min-height: calc(4.375rem + 2.25 * (100vw - 20rem) / 67.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .menu__list {
    font-size: 2.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (font-size: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 2.25rem )) {
    .menu__list {
      font-size: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 2.25rem )) {
    .menu__list {
      font-size: calc(1.25rem + 1 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 48em) and (max-width: 62em) {
@supports ((-moz-column-gap: clamp( 2.1875rem , -16.0267857143rem  +  37.9464285714vw , 7.5rem )) or (column-gap: clamp( 2.1875rem , -16.0267857143rem  +  37.9464285714vw , 7.5rem ))) {
    .salad-menu .menu__list {
      -webkit-column-gap: clamp( 2.1875rem , -16.0267857143rem  +  37.9464285714vw , 7.5rem );
         -moz-column-gap: clamp( 2.1875rem , -16.0267857143rem  +  37.9464285714vw , 7.5rem );
              column-gap: clamp( 2.1875rem , -16.0267857143rem  +  37.9464285714vw , 7.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.1875rem , -16.0267857143rem  +  37.9464285714vw , 7.5rem )) or (column-gap: clamp( 2.1875rem , -16.0267857143rem  +  37.9464285714vw , 7.5rem ))) {
    .salad-menu .menu__list {
      -webkit-column-gap: calc(2.1875rem + 5.3125 * (100vw - 48rem) / 14);
         -moz-column-gap: calc(2.1875rem + 5.3125 * (100vw - 48rem) / 14);
              column-gap: calc(2.1875rem + 5.3125 * (100vw - 48rem) / 14);
    }
}
}

@media (min-width: 48em) and (max-width: 77em) {
@supports (padding-top: clamp( 5rem , -1.4137931034rem  +  13.3620689655vw , 8.875rem )) {
    .menu-section {
      padding-top: clamp( 5rem , -1.4137931034rem  +  13.3620689655vw , 8.875rem );
    }
}

@supports not (padding-top: clamp( 5rem , -1.4137931034rem  +  13.3620689655vw , 8.875rem )) {
    .menu-section {
      padding-top: calc(5rem + 3.875 * (100vw - 48rem) / 29);
    }
}
}

@media (min-width: 62em) and (max-width: 77em) {
@supports (margin-bottom: clamp( 0.0000000625rem , -17.0499996792rem  +  27.4999995833vw , 4.125rem )) {
    .menu-section__title:not(:last-child) {
      margin-bottom: clamp( 0.0000000625rem , -17.0499996792rem  +  27.4999995833vw , 4.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.0000000625rem , -17.0499996792rem  +  27.4999995833vw , 4.125rem )) {
    .menu-section__title:not(:last-child) {
      margin-bottom: calc(0.0000000625rem + 4.1249999375 * (100vw - 62rem) / 15);
    }
}
}

.webp .menu-section__main-block::after{ background: url(../img/main-image.webp) center 0/cover no-repeat; }